.App {
  text-align: center;
  background: linear-gradient(to bottom, #59c3c3, white);
  width: 100%;
  min-height: 736px;
  line-height: 100%;
  padding: 0.25%;


}

@media only screen and (max-width: 414px) {
  .App {
    width: 414px;
    /* border-width: thin; */
  }
}

.row {
  display: flex;
  justify-content: center;
}
