.App {
  text-align: center;
  background: linear-gradient(to bottom, #59c3c3, white);
  width: 100%;
  min-height: 100vh;
  padding: 0.25%;
}

@media only screen and (max-width: 415px) {
  .App {
    width: 414px;
  }
}

@media only screen and (min-width: 416px) and (max-width: 736px) {
  .App {
    width: 736px;
    min-height: 414px;
    line-height: 100%;
  }
}

.row {
  display: flex;
  justify-content: center;
}
