.App {
  text-align: center;
  background: -prefix-linear-gradient(top, #59c3c3, white);
  background: linear-gradient(to bottom, #59c3c3, white);
}

@media only screen and (max-width: 300px){
  .App {
 background-color: red;
 background: linear-gradient(to bottom, #eb08a7, white);
 width: 414px;
 height: 736px;
  }
  
}

.row {
  display: flex;
  justify-content: center;
}
