.cardsBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding: 15px 15px;
    margin: 10px 10px;
    border: 1px 1px; */
    width: 50%;
    height: 50%;

}
  

@media screen and (max-width: 500px)  {
    .cardsBox{
    border: seagreen;
     max-width: 100%;
     min-width: 100%;
    }
  }