.inlineBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1px 1px;
  margin: 1px 1px;
  opacity: 1;
}

.label {
  font-weight: bold;
  opacity: 1;
  padding: 1px 1px;
  margin: 1px 1px;
}

.value {
  opacity: 1;
  padding: 1px 1px;
  margin: 1px 1px;
}
