.inlineBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1px 1px;
  margin: 1px 1px;
  opacity: 1;
}

.label {
  font-weight: bold;
  opacity: 1;
  padding: 5px 5px;
  margin: 5px 5px;
}

.value {
  opacity: 1;
  padding: 1px 1px;
  margin: 1px 1px;
}

.imgC {
  width:  20px;
  height: 20px;
}

.imgTemp{
  width:  25px;
  height: 25px;
}