/* .cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  width: 400px;
  height: 300px;
  padding: 5px 5px;
  margin: 10px;
  border-radius: 15px;
  opacity: 1;
  position: relative;
  display: inline-block;
  text-align: center;
} */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .btnClose {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4d6d;
  border: 2px solid #ff4d6d;
  padding: 0px 5px;
  border-radius: 5px;
  font-size: 15px;
  background-color: transparent;
  width: 30px;
  height: 25px;
  /* position: absolute;
      top: 3%;
    right: 3%; */
/*}*/

/*.btnClose:hover {
  background-color: white;
  color: red;
  border: red solid 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
} */

.tempBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1px 1px;
  border: 1px 1px;
  margin: 1px 1px;
  /* position: absolute;
  top: 55%;
left: 35%; */
}

span {
  display: inline;
  padding: 10px 10px;
  align-content: center;
}

.titleBox {
  display: flex;

  align-self: flex-end;
  padding: 2px 2px;
  margin: 1px 1px;
}
.i01d,
.i01n,
.i02d,
.i02n,
.i03d,
.i03n,
.i04d,
.i04n,
.i09d,
.i09n,
.i10d,
.i10n,
.i11d,
.i11n,
.i13d,
.i13n,
.i50d,
.i50n{
  opacity: 0.4;
  position: relative;
  size: cover;
  background-size: 100% 100%;
  border-radius: 15px;
  border: 2px solid gray;

  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 414px) {
  .cardBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 155px;
    padding: 1%;
    margin: 1%;
    /* border: 1px solid gray; */
    border-radius: 15px;
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .btnClose {
    display: block;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 100%;
    background-image: url("../icons/cancel-24.ico");
    background-repeat: no-repeat;
    background-position: center;
    border-color: transparent;
  }
  .cityName {
    display: flex;
    align-items: flex-start;
    font-size: 185%;
    font-weight: bold;
    color: rgb(0, 0, 0, 1);
  }

  .celDataBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

@media only screen and (min-width: 415px) and  (max-width: 736px){
  .cardBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 155px;
    padding: 1%;
    margin: 1%;
    /* border: 1px solid gray; */
    border-radius: 15px;
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .btnClose {
    display: block;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 100%;
    background-image: url("../icons/cancel-24.ico");
    background-repeat: no-repeat;
    background-position: center;
    border-color: transparent;
  }
  .cityName {
    display: flex;
    align-items: flex-start;
    font-size: 185%;
    font-weight: bold;
    color: rgb(0, 0, 0, 1);
  }

  .celDataBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

/* .i01n .i02d .i03n .i09d .i01d {
  position: relative;
 }
 .i01n::after .i02d::after .i03n::after .i09d::after .i01d::after {
 content: ""; 
 background: url(https://thumbs.dreamstime.com/z/escalera-al-cielo-escaleras-en-cielo-91862193.jpg); 
 opacity: 0.5; 
 position: absolute; 
 z-index: -1; } */
