.logoBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255, 0.3);
  border: 1px solid gray;
  height: 65px;
  padding: 15px 15px;
  margin: 10px;
  border-radius: 15px;
}

@media screen and (max-width: 410){
  .logoBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(240, 18, 18, 0.3);
    border: 1px solid gray;
    height: 65px;
    padding: 15px 15px;
    margin: 10px;
    border-radius: 15px;
  }
  
}

.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  text-decoration: none;
  color: black;
}
